.diabetes-calc {
  font-size: 14px;
  p {
    font-size: 14px;
  }
  small {
    font-size: 12px;
  }
  h2 {
    font-size: 16px;
    font-weight: 700;
  }
  p.mandatory {
    font-size: 10px;
    font-weight: 600;
    margin-top: 4px;
    color: $primary;
    display: none;
  }
}
