.diabetes-calc {
  * {
    box-sizing: border-box;
  }
  .container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    clear: both;
  }
  .responsive .container {
    max-width: 1480px;
  }

  font-size: 14px;
  p {
    font-size: 14px;
  }
  small {
    font-size: 12px;
  }
  hr.hr {
    border-top: 1px dotted gray;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }
  .margin__top-xs {
    margin-top: 8px;
  }
  .margin__top-s {
    margin-top: 16px;
  }
  .margin__top-m {
    margin-top: 24px;
  }
  .margin__top-l {
    margin-top: 32px;
  }
  .margin__top-xl {
    margin-top: 42px;
  }

  input[type="number"] {
    width: 64px;
    height: 32px;
  }
  ul.vertical {
    width: 100%;
    background-color: transparent;
    color: inherit;
    display: block; /* Make the links appear below each other */
    padding: 8px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }

  ul.vertical li {
    margin: 4px 0;
    cursor: default;
  }
  ul.vertical li input:hover {
    cursor: pointer;
  }

  ul.vertical li:hover {
    background-color: #f1f1f1; /* Dark grey background on mouse-over */
  }

  table.regular {
    border-collapse: collapse;
    width: 100%;
    td,
    th {
      border: none;
      text-align: left;
      padding: 4px;
    }
  }

  // pad
  @media only screen and (max-width: 989px) {
  }

  //mobile
  @media only screen and (max-width: 767px) {
    [class*="col-"] {
      width: 100%;
    }
  }
}
